<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Where to Fish?</title>
  </head>
  <body id="home-body">
    <h1>Where should you fish? We'll tell you.</h1>
    <p>But help us help you. First log some trips. Then, based on your success, we'll let you know where to fish.</p>
    <img
      id="courtfish"
      src="https://www.teessupply.com/wp-content/uploads/2022/04/The-Worst-Day-Fishing.png"
      alt="the worst day of fishing beats the best day of court ordered anger management sessions"
      />
    <a href="/trips">Browse Trips</a>
  </body>
</html>