<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Where to Fish?</title>
  </head>
  <body>
    <h1>Where should you fish? We'll tell you.</h1>
    <p>But help us help you. First log some trips. Then, based on your success, we'll let you know where to fish.</p>
    <a href="/trips">Browse Trips</a>
  </body>
</html>