<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>Log a Trip</title>
  </head>
  <body>
    <h1>Log a New Trip!</h1>

    <form action="/trips" method="POST">
        <label for="date">Date (MM/DD/YYYY):</label>
        <input type="text" name="date" id="date" />

        <label for="locationName">Location Name:</label>
        <input type="text" name="locationName" id="locationName" />
        <a href="/maps/">Check on a Map!</a>
        <label for="latitude">Latitude:</label>
        <input type="text" name="latitude" id="latitude" value="<%= lat %>"/>

        <label for="longitude">Longitude:</label>
        <input type="text" name="longitude" id="longitude" value="<%= lng %>" />

        <label for="timeArrived">Time Arrived:</label>
        <input type="text" name="timeArrived" id="timeArrived" />

        <label for="timeArrived">Time Departed:</label>
        <input type="text" name="timeDeparted" id="timeDeparted" />
    
        <label for="caughtFish">Catch Anything?</label>
        <input type="checkbox" name="caughtFish" id="caughtFish" />

        <button type="submit">Log Trip</button>
      </form>
      <a href="/trips/">Back to Trips</a>
  </body>
</html>